@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

    * {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
    }

    html,
    body {
      width: 100%;
      height: 100vh;
      scroll-behavior: smooth;
    }

    .bg-blue {
      background: linear-gradient(180deg, #2B193D 0%, #484D6D 100%);
      color: #FFF;
    }

    .bg-blue h1 {
      font-weight: 500;
    }

    .bg-blue button {
      border: none;
    }

    .bg-blue button p a{
      text-decoration: none;
      padding: 1rem;
      text-decoration: none;
      font-weight: 600;
      background-color: #FFF;
      border-radius: 0.5rem;
      color: #0F7173;
      text-align: center;
    }

    .headline {
      background-color: #484D6D;
    }

    .headline h1,
    p {
      margin: 0;
      background: none;
      color: #fff;
      text-align: left;
    }

    .headline h1 {
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
    }

    .formulario {
      background-color: #fff;
      color: #0F7173;
      border-radius: 0.5rem;
    }

    .formulario h3 {
      text-align: center;
      font-size: 1.5rem;
      padding-top: 1rem;
    }

    .formulario input,
    textarea {
      margin-bottom: 1rem;
      padding: 5px;
      font-weight: 500;
      border: 2px solid #0F7173;
      width: 100%;
    }

    .quemSomos {
      width: 100%;
    }

    .quemSomos h2 {
      color: #0F7173;
      font-size: 2rem;
      font-weight: 600;
    }

    .quemSomos p {
      color: #0F7173;
      font-size: 1rem;
      font-weight: 300;
      text-align: justify;
      letter-spacing: 1px;
    }

    .beneficios {
      background-color: #eff0f5;
      text-align: center;
    }

    .beneficios h3 {
      color: #0F7173;
      font-weight: 700;
    }

    .beneficios p {
      color: #0F7173;
      text-align: justify;
    }

    .CTA {
      border: none;
      font-weight: 500;
      font-size: 1.5rem;
      background-color: red;
      border-radius: 0.5rem;
      color: #fff;
      padding: 1rem;
    }

    .QA {
      background-color: #fff;
    }

    .QA p {
      color: #0F7173;
      padding-top: 0.3rem;
    }

    .QA h3 {
      color: #0F7173;
      text-align: center;
      font-weight: 700;
    }

    .QA .box {
      border: 2px solid #0F7173;
      border-radius: 5px;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
    }

    .QA hr {
      margin: 0;
      padding: 0;
    }

    .QA .box h4 {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;
      color: #0F7173;
      font-weight: 500;
      text-align: center;
    }

    .ultCTA {
      background-color: #484D6D;
      color: #FFF;
      text-align: center;
    }

    .ultCTA button {
      width: 80%;
      background-color: red;
      color: #fff;
      padding: 0.5rem;
      font-weight: 700;
      font-size: 1rem;
      border-radius: 0.25rem;
      border: none;
    }

    .ultCTA button a {
      text-decoration: none;
      color: #fff;
    }

    .ultCTA h2 {
      font-size: 3rem;
      font-weight: 900;
    }

    .ultCTA h2,
    p {
      text-align: center;
    }

    .ultCTA .box p {
      padding: 1rem;
      color: #484D6D;
    }

    .box {
      border-radius: 0.25rem;
      background-color: #fff;
    }

    .rodape {
      text-align: center;
      background: #1D3461;
      color: #FFF;
    }

    .rodape a {
      text-decoration: none;
      color: #FAFFD8;
    }

    /* --- RESPONSIVIDADE --- */

    @media (max-width: 576px) {
      .bg-blue button{
        display: none;
      }

      .bg-blue img {
        width: 100vw;
      }

      .headline h1{
        margin-top: 10px;
        font-size: 3rem;
      }

      .quemSomos img {
        height: 200px;
      }

      .quemSomos h2 {
        font-size: 1.5rem;
      }

      .quemSomos p {
        font-size: 1.1rem;
      }

      .ultCTA h2 {
        font-size: 2rem;
      }

      .ultCTA .box {
        margin-top: 1rem;
      }

      .rodape .textoAux1 {
        font-size: 0.9rem;
      }
      
      .rodape .textoAux2 {
        font-size: 0.8rem;
      }
    }